# .gitignore file
# This file tells Git which files and directories to ignore

# Compiled binaries
*.bin
*.so
*.dll

# Temporary files
*.swp
*.tmp
*~

# Log files
*.log

# Data folder
Data/
Sessions/

*.DS_Store
*.venv/

*h5
*onnx
